.fade-in {
	animation: fadeIn 0.7s ease;
}

@keyframes fadeIn {
	from { opacity: 0; transform: translateY(24px); }
	to { opacity: 1; transform: none; }
}

body {
	background-color: #f9f7fd;
}

header {
	border-bottom: 2px solid #9333ea !important;
}

.border-purple-600 {
	border-color: #9333ea !important;
}

.bg-purple-600 {
	background-color: #9333ea !important;
}
